<!DOCTYPE html>
<html lang="en" ng-app='<%=ngApp%>'>
<%- include('partials/head') %>

<body ng-controller="<%=ngController%>">

    <%- include('partials/nav') %>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4"><%=appName%></h1>
            <p class="lead">Better way to discovery music!</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up / Log In</a>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>

</html>