<!DOCTYPE html>
<html lang="en" ng-app='<%=ngApp%>'>
<%- include('partials/head') %>

<body ng-controller="<%=ngController%>" ng-init='slug="<%=slug%>";'>
    <%- include('partials/nav') %>

    <div class="jumbotron" id="mainJumbotron">
        <div class="container">
            <h1 class="display-3">Search</h1>

            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Search for songs, artists and users!</label>
                    <input type="text" class="form-control" ng-model="$ctrl.query" placeholder="Search..." />
                </div>
            </form>

        </div>
    </div>


    <div class="container">
        <div class="row row-cols-4">
            <div class="card" style="width: 15rem;" ng-repeat="data in searchData | filter: $ctrl.query">

                <img src="{{data.image}}" class="card-img-top">
                <div class="card-body">

                    <p class="card-text"><span class="text-muted">{{data.type}}</span></p>

                    <h5 class="card-title">{{data.name}}</h5>

                    <p class="card-text"><span class="text-muted">{{data.tagline}}</span></p>

                    <a href="{{data.button_url}}" class="btn btn-primary" id="goToSpotifyButton">
                        <i class="fab fa-spotify"></i>
                        Open in Spotify
                    </a>
                </div>
            </div>
        </div>

    </div>

    <%- include('partials/footer') %>
</body>

</html>